body {
	background-color: #41c7f4;
}
.uvod {color: red}
.ikona {float: right;
	border-radius: 7px}
	.opis {padding-left: 15px;
		padding-bottom: 10px;
	}
	.topnav{background-color: #41c7f4;
		overflow: hidden;

	}
	.topnav a{float: left;
		color: #000000;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;

	}
	.topnav a:hover{

	}
	.topnav a:active{

	}